name: burhan
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get: ^4.6.6
  http: ^1.2.2
  faker: ^2.2.0
  intl: ^0.18.1
  convex_bottom_bar: ^3.2.0
  avatar_glow: ^2.0.2
  lottie: ^2.7.0
  introduction_screen: ^3.1.12
  dropdown_search: ^5.0.3
  get_storage: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icon/
